.team {
  padding-bottom: 118px;
}

@media (max-width: 420px) {
  .team {
    padding-bottom: 56px;
  }
}

.team .fund-structure-card:first-child {
  padding: 72px 24px 0;
}

@media (max-width: 420px) {
  .team .fund-structure-card:first-child {
    padding: 40px 24px 0;
  }
}