.other-programms__background-image {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 650px) {
  .other-programms__background-image {
    display: none;
  }
}