.other-programms__about-programm_desktop {
  background-color: #528cbe;
  border-radius: 56px;
  padding: 18px 27.5px;
  line-height: 20px;
  width: 152px;
  font-weight: 700;
  text-align: center;
}
