.itc-slider__items_size_height {
  aspect-ratio: 1/0.48907;
}

@media (max-width: 600px) {
  .itc-slider__items_size_height {
    aspect-ratio: 1/0.8;
  }
}

@media (max-width: 425px) {
  .itc-slider__items_size_height {
    aspect-ratio: 1/1.375;
  }
}