.partner-up__input-message {
  padding-top: 18px;
  padding-left: 32px;
  max-width: 646px;
  width: 100%;
  border: none;
  background: #f8f8f8;
  border-radius: 26px;
  min-height: 143px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .partner-up__input-message {
    max-width: 327px;
  }
}
