.fund-structure-card__description {
  margin: 0;
  padding: 24px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 906px) {
  .fund-structure-card__description {
    padding: 16px 0 0;
    font-size: 1.987vw;
    line-height: 2.870vw;
  }
}

@media (max-width: 420px) {
  .fund-structure-card__description {
    font-size: 18px;
    line-height: 26px;
  }
}