.page-title_useful-aboutSchool {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  padding-top: 108px;
  padding-bottom: 56px;
  font-size: 44px;
  line-height: 50px;
}

@media screen and (max-width: 736px) {
  .page-title_useful-aboutSchool {
    font-size: 32px;
    line-height: 50px;
    padding-top: 57px;
    padding-bottom: 64px;
  }
}
