.alumniStories__title {
  font-family: "inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  text-align: center;
  padding-bottom: 56px;
}
