.alumniStories__title {
  font-family: "inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
  color: #000000;
  margin: 0 auto;
  padding-bottom: 56px;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .alumniStories__title {
    font-size: 32px;
    padding-bottom: 32px;
    width: 375px;
  }
}
