.alumni-stories-card__link {
  text-decoration: none;
  background-color: #f8f8f8;
  color: #424242;
  cursor: pointer;
  font-family: "inter", "serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.alumni-stories-card__link::after {
  content: url("../../../images/arrow-up.svg");
  margin-left: 10px;
}