.other-programms__item_moscow-school {
  padding: 60px 0px 47px 68px;
  background-color: #528CBE;
}

@media screen and (max-width: 1024px) {
  .other-programms__item_moscow-school {
    order: 2;
    padding: 72px 52px 96px ;
  }
}

@media screen and (max-width: 650px) {
  .other-programms__item_moscow-school {
    padding: 32px 24px 40px ;
  }
}