.subscribe {
  width: 100%;
  max-width: 1280px;
  padding: 43px 125px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 28px;
  background-color: #F8F8F8;
}

@media screen and (max-width: 1110px) {
  .subscribe {
    padding: 43px 24px;
  }
}

@media screen and (max-width: 950px) {
  .subscribe {
    gap: 42px;
    flex-direction: column;
    padding-bottom: 52px;
  }
}