.fund-structure-card__definition {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #939393;
  margin: 0;
  padding-top: 8px;
}

@media (max-width: 420px) {
  .fund-structure-card__definition {
    padding-top: 0px;
  }
}