.alumni-stories__textBox-title {
  color: #82607d;
  line-height: 20.8px;
  margin: 0;
  padding-top: 94px;
  padding-left: 24px;
  width: 324px;
  font-family: "inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  padding-bottom: 20px;
}
